.kss-navigation{
  
  ul.kss-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;

    ul.kss-subnav{
      list-style-type: none;
      padding-left: spacer(2);
      margin-bottom: spacer(3);

      .kss-nav-link{
        padding: spacer(1);
      }

      li.is-grandchild{
        padding-left: spacer(2);
      }
    }
  }

  .kss-nav-link{
    color: color-gray(10);
    text-decoration: none;
    padding: spacer(2);
    display: block;
    width: 100%;
  
    &:hover, &:focus {
      background-color: color-gray(80);
      outline-color: transparent;
      border-color: transparent;
      box-shadow: 0 0 0 transparent;
    }

    &.is-active{
      background-color: color-gray(100);

      &:hover, &:focus {
        background-color: color-gray(100);
      }
    }

    .kss-nav__ref{
      font-size: calc(#{font-size(paragraph)} - 0.15rem);
    }
  }
}