label {
    font-weight: 700;
    font-size: font-size(5);
    margin-bottom: spacer(1);
    cursor: pointer;
    display: block;

    &.input-label {
        font-size: font-size(paragraph);
        font-weight: lighter;
        display: inline-flex;
        align-items: flex-start; //Because of the font use otherwise center
        input[type="radio"],
        input[type="checkbox"] {
            margin-right: spacer(1);
        }
    }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Label
//
// Markup:
// <label>Test Label</label>
// <label class="input-label">Test Label</label>
//
// Styleguide Atoms.Forms.label